.bottomNav {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 12px;
}

#list-maker .marks {
    font-family: 'Coustard', serif;
    font-size: 18px;
}

.dropdown-content {
    width: 64px;
}

#inp {
    height: 900px;
}

#list-maker #outp {
    height: 300px;
}

.footer-item-wrapper {
    text-align: center;
    margin-right: 12px !important;
    margin-bottom: 0px !important;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
}
